<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
  http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 配置C3P0连接池 加入jar：com.springsource.com.mchange.v2.c3p0-0.9.1.2.jar -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="com.mysql.jdbc.Driver" />
		<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/info" /><!-- 
			这里用的是jdbcUrl -->
		<property name="user" value="root" />
		<property name="password" value="mysql123" />
	</bean>
	<!-- 业务类 -->
	<bean id="accountService" class="cn.my.demo2.DaoImpl.AccountServiceImpl">
		<!-- 在业务层注入Dao -->
		<property name="accountDao" ref="accountDao" />
		

	</bean>
	<!-- 持久层类 -->
	<bean id="accountDao" class="cn.my.demo2.DaoImpl.AccountDaoImpl">

		<!-- 注入连接池对象，通过连接池对象创建模板 -->
		<property name="dataSource" ref="dataSource" />
	</bean>
	<!-- 事务管理器 -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<!-- 注入 连接池 -->
		<property name="dataSource" ref="dataSource" />
	</bean>
	<!-- 配置生成代理对象 -->
	<bean id="accountServiceProxy"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<!-- 目标对象 -->
		<property name="target" ref="accountService" />
		<!-- 注入事务管理器 -->
		<property name="transactionManager" ref="transactionManager" />
		<!-- 事务属性值 -->
		<property name="transactionAttributes">
			<props>
				<!-- key是业务层转账的要进行的方法名 -->
				<prop key="transfer">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
	
	
</beans>