<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
  http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
  <!-- 自动代理 -->
  <!--定义目标对象  -->
  <bean id="customerDao" class="cn.aop.CustomerDaoImpl"></bean>
   <bean id="orderDao" class="cn.aop2.OrderDao"></bean>
  <!-- 定义增强 -->
  <bean id="beforeAdvice" class="cn.aop.BeforeAdvice"></bean>
  <bean id="aroundAdvice" class="cn.aop2.AroundAdvice"></bean>
  <!-- 自动代理：按名称的代理基于后处理Bean不需要配置ID ;使用BeanNameAutoProxyCreator类-->
  <bean class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
  <property name="beanNames" value="*Dao"/>
  <property name="interceptorNames" value="beforeAdvice"/>
  </bean>
 
   
</beans>